/*###############
#####General#####
###############*/

body, html {
	height:100%;
	width:100%;
	overflow-y: hidden;
}

body a, body a:visited, body a:active, body a:link {
	color:black;
	transition: all .5s ease;
}

body a:hover {
	text-decoration: none;
	color:grey;
}

header {
	height:4vh;
}

footer {
	height:3vh;
}

@font-face {
	font-family: 'ostrich_sansmedium';
	src: url('../assets/fonts/ostrich-regular-webfont.woff2') format('woff2'),
	url('../assets/fonts/ostrich-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.relative {
	position: relative;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.top-header {
	width: 85%!important;
	margin: 0 auto!important;
}

.top-header h1 {
	margin:.8vw!important;
	width: 100%!important;
	text-align: center!important;
	font-family: 'ostrich_sansmedium', Arial!important;
	font-size: 1vw!important;
}

.top-right-header {
	height: 100%;
	border-left: 1px solid lightgrey;
}

.footer-wrapper {
	height:5.5%;
	font-family: 'ostrich_sansmedium', Arial!important;
	font-size: 1vw!important;
}

.footer-right {
	width: 89.5%;
	position:absolute;
	right:5%;
}

.footer-left .col-6 {
	text-align: right;
}

.footer-left {
	width: 92%;
	position: absolute;
	padding:auto;
	left:2%;
}

.footer-left h2, .footer-right h2{
	font-size:1vw!important;
	margin: 0 auto;
}

.footer-left span, .footer-right span {
	font-family: 'ostrich_sansmedium', Arial!important;
	font-size: 1vw!important;
}

.footer-right span {
	position: absolute;
	right:0;
	text-align: right!important;
}

.footer-left span {
	text-align: left!important;
}

.main-content {
	height:88vh;
}

.neutral-xl-title {
	font-family: Arial Black;
	font-size: 1.8vw;
}

.neutral-md-title {
	font-family: Arial Black;
	font-size: 1.2vw;
}

.small {
	font-size: .8vw;
}

.card-header {
	font-weight: bold!important;
}

/*####################
#####Splashscreen#####
####################*/

#splashscreen {
	background-image: url('./../assets/img/alaska.jpg');
	background-size: cover;
	min-height: 100%;
}

#splashscreen h1, #splashscreen h2 {
	font-family: 'ostrich_sansmedium', Arial;
	color: white;
	text-shadow: 1px 1px black;
}

#splashscreen h1 {
	font-size: 6vw;
}

#splashscreen h2 {
	font-size: 4vw;
}

#splashscreen button {
	font-family: 'ostrich_sansmedium', Arial;
	color:black;
	font-size: 1.5vw;
}

/*#################
#####Main Page#####
######Frontend#####
#################*/

.left-page {
	overflow-y: scroll;
	scroll-margin: 10vh 1vw 0 0;
}

.left-page::-webkit-scrollbar-track
{
	width:.7vw;
	border-radius: 10px;
	background-color: white;
}

.left-page::-webkit-scrollbar
{
	width: 1.5vw;
	background-color: #F5F5F5;
}

.left-page::-webkit-scrollbar-thumb
{
	border: .5vw solid rgba(0,0,0,0);
	background-clip: padding-box;
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.right-page {
	border-left: 1px solid lightgrey;
}

.right-page .fab {
	font-size: 4vw;
}

#chapter-list h2 {
	font-family: 'ostrich_sansmedium', Arial;
	float:left;
	margin: 0 5px 0 0;
}
#chapter-list-filler {
	border-bottom:2px dotted black;
	overflow:hidden;
}

#chapter-list a:hover {
	text-decoration: none;
	color:grey;
}

/*#################
######Article######
#################*/

.separator {
	position: absolute;
	width:1px;
	border-left: 1px solid lightgrey;
	left:50%;
	height:100%;
}

.article-two-pages {
	height:94vh;
	max-width:100%;
	columns: 2;
	overflow-x: scroll;
}

.article-two-pages p {
	text-align: justify;
	padding: 2vh 2.5vw 2vh 2.5vw;
}

.article-two-pages::-webkit-scrollbar { 
	display: none; 
}

.chapter-title {
	font-family: 'ostrich_sansmedium', Arial;
	font-size: 3vw;
}

.article-comment:nth-child(odd){
	background-color: #efefef;
}

.article-comment-form {
	width:100%;
}

.comments-title {
	font-family: 'ostrich_sansmedium', Arial!important;
	font-size: 1.5vw;
}

.comment-author {
	font-weight: bold;
}

.article-comment-form textarea{
	width: 100%;
}