/*###############
#####General#####
###############*/

body, html {
	height:100%;
	width:100%;
}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../assets/fonts/ostrich-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/ostrich-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vinchandregular';
    src: url('../assets/fonts/vinchand-webfont.woff2') format('woff2'),
         url('../assets/fonts/vinchand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content-wrapper{
	height:calc(100% - 8vh);
}

.relative {
	position: relative;
}

.left-page {
}

.right-page {
	border-left: 1px solid lightgrey;
}

.top-header {
	width: 85%!important;
	margin: 0 auto!important;
}

.top-header h1 {
	margin:.8vw!important;
	width: 100%!important;
	text-align: center!important;
	font-family: 'ostrich_sansmedium', Arial!important;
	font-size: 1vw!important;
}

.neutral-xl-title {
	font-family: Arial Black;
	font-size: 1.8vw;
}

.neutral-md-title {
	font-family: Arial Black;
	font-size: 1.2vw;
}

.small {
	font-size: .8vw;
}

a, a:visited, a:active, a:link {
	color:black;
	transition: all .5s ease;
}

a:hover {
	text-decoration: none;
	color:grey;
}

/*#################
#####Main Page#####
######Frontend#####
#################*/

#chapter-list h2 {
	font-family: 'ostrich_sansmedium', Arial;
}

/*#################
#########Admin#####
#######General#####
#################*/

.admin-modal {
	position:absolute;
	width:100%;
	top:20%;
}

.article-form {
	width:100%;
}

.article-form textarea {
	width: 100%;
	height:65vh;
}

/*#################
#####Admin Main####
#######Template####
#################*/

#admin-nav {
	color: white;
	height:8vh;
	background-color: #262626;
}

#admin-nav img {
	height: 7vh;
}

#admin-links a {
	font-size: 2rem!important;
}

#admin-nav a {
	font-family: 'ostrich_sansmedium', Arial;
	color:white;
	font-size: 1.3rem;
}

.username {
	font-weight: bold;
	font-size: 1.3rem;
}

/*#################
#####Main Page#####
#######Backend#####
#################*/

.admin-section-title {
	font-family: 'ostrich_sansmedium', Arial;
	font-size:2.5rem;
}

.admin-card-title {
	font-family: 'ostrich_sansmedium', Arial;
	font-size: 1.8rem;
}

#login-form {
	width:70%;
	margin: 0 auto;
}

#login-form button {
	margin:0 auto;
}

